@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.rdrDefinedRangesWrapper {
  display: none;
}

@layer base {
  :root {
    --background: 21 0% 95%;
    --foreground: 21 0% 10%;
    --card: 21 0% 93%;
    --card-foreground: 21 0% 15%;
    --popover: 21 0% 95%;
    --popover-foreground: 21 95% 10%;
    --primary: 178 71% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -17 10% 93%;
    --muted-foreground: 21 0% 40%;
    --accent: -17 10% 90%;
    --accent-foreground: 21 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 21 0% 93%;
    --border: 21 20% 82%;
    --input: 21 19% 73%;
    --ring: 178 71% 27%;
    --radius: 0.5rem;

    --success: 152, 62%, 49%;
    --success-100: 152, 62%, 90%;
    --info: 213, 99%, 66%;
    --info-100: 214, 100%, 93%;
    --warning: 48, 89%, 50%;
    --warning-100: 48, 88%, 90%;
    --danger: 5, 79%, 57%;
    --danger-100: 5, 77%, 91%;
    --draft: 210, 29%, 29%;
    --draft-100: 207, 12%, 86%;
    --progress: 282, 39%, 53%;
    --progress-100: 223, 45%, 89%;
    --status-foreground: 0, 0%, 100%;
  }
  .dark {
    --background: 21 10% 10%;
    --foreground: 21 0% 90%;
    --card: 21 0% 10%;
    --card-foreground: 21 0% 90%;
    --popover: 21 10% 5%;
    --popover-foreground: 21 0% 90%;
    --primary: 178 71% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 10% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: -17 10% 18%;
    --muted-foreground: 21 0% 60%;
    --accent: -17 10% 18%;
    --accent-foreground: 21 0% 90%;
    --destructive: 4 86% 58%;
    --destructive-foreground: 21 0% 90%;
    --border: 21 20% 18%;
    --input: 21 20% 18%;
    --ring: 178 71% 27%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  /* Scroll bar stylings */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground));
    border-radius: 5px;
  }

  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--border));
  } */
}
